body{
	margin: 0;
	background: lavender;
	display: flex;
	justify-content: center;
	justify-items: center;
	min-height: 100vh;
	flex-direction: column;
}
.bubble{
	height: 200px;
	width: 200px;
	cursor: pointer;
	border-radius: 100%;
	

    
}


.nav-bar{
	background: #ffca75;
	height: 100px;
	width: 100%;
	flex: 1;
	
	
	position: absolute;
}

p{
	color: #000;
	position: absolute;
}
.container{
	flex: 1;
	display: block;
	
	background: lavender;
	height: 500px;
	width: 100%;
}





.footer{
	width: 100%;
	height: 100px;
	color: #2ca4db;
	flex: 1;
}
















::selection {
    color: none;
    background: none;
}
 For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}
img:active{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

img::-moz-selection {
    background-color: transparent;
    color: #000;
}

img::selection {
    background-color: transparent;
    color: #000;
}
